@using PoissaHR.Application.Services.EmployeeService
@using PoissaHR.Domain.Entities
@using PoissaHR.Shared.Dto

@inject IEmployeeService EmployeeService

@page "/employees"

<PageTitle>Employee List</PageTitle>

<MudPaper>
    <MudContainer>
        <MudText Typo="Typo.h4" GutterBottom="true">Työntekijät</MudText>
        @if (employees == null || !employees.Any())
        {
            <p>Ladataan työntekijälistaa...</p>
        }
        else
        {
            <EmployeeListCard Employees="employees" />
        }
    </MudContainer>
</MudPaper>


@code {
    private List<EmployeeDto> employees = new();

    protected override async Task OnInitializedAsync()
    {
        var employeeList = await EmployeeService.GetAllEmployeesAsync();
        employees = employeeList.ToList();
    }
}